/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/AppScope/resources/resfile
/entry/libs/arm64-v8a/libviewer.so
oh-package-lock*
/signing/*.hap
/signing/*.p7b